{% extends "layout.html" %}

{% block title %}
    On The Sales
{% endblock %}

{% block main %}

    {% if not session["user_id"] %}

        <!-- Index without sale plan -->
        <div class="container-index">
                <section class="introduction-logo">
                    <img src="/static/imgs/logo.svg" alt="Logo Planning Sale">
                    <div class="texts-introduction">
                        <h2>Meet your <span>sales planner</span>!</h2>
                        <p>Organizes and manages the sales you want to make for you!</p>
                    </div>
                </section>
            
                <section class="introduction-buttons">
                    <h3>Don't have a sale yet? Plan one now!</h3>
                    <div class="buttons">
                        <form action="/login">
                            <button class="btn" type="submit">+ New Planning</button>
                        </form>
                        <div class="btn opacity"></div>
                        <div class="btn opacity"></div>
                        <div class="btn opacity"></div>
                    </div>

                <!-- Footer -->
                <div class="footer">
                    <p>CS50’s Introduction to Computer Science Final Project.</p>
                    <p>
                        Developed by <a target="_blank" href="https://github.com/raiane-oliveira">Raiane Oliveira</a>. 
                    </p>
                </div>        
            </section>
        </div>
    {% else %}

        <!-- Index wth sale plan card -->
        <div class="container-planSale">
            {% if salePlan %}

                <!-- Selling -->
                <section class="filter-sale">
                    <div>
                        <h2>Selling</h2>
                        <hr>
                    </div>
            
                    <!-- Cards plans -->
                    <section class="container-sale-plan-cards">
                        {% for row in selling %}
                            <div class="sale-plan-cards">
                                <h3>{{ row.name }}</h3>
                                <div class="data-sale-plan">
                                    <p class="price">Price: {{ row.price }}</p>
                                    <p class="stock">Stock: {{ row.stock }}</p>
                                    <p class="goal">{{ row.goal_options }}: {{ row.goal }}</p>
                                    {% if row.date_start or row.date_end %}
                                        <p class="d-start">Start: {{ row.date_start }}</p>
                                        <p class="d-end">End: {{ row.date_end }}</p>
                                    {% else %}
                                        <p class="no-d">No start or end dates for sales</p>
                                    {% endif %}
                                    {% if row.notes %}
                                        <p class="note">Note: {{ row.notes }}</p>
                                    {% else %}
                                        <p class="note no-note">No notes</p>
                                    {% endif %}

                                    <!-- Delete sale plan -->
                                    <form class="del-sale-plan" action="/delete" method="post">
                                        <input name="id-del" value="{{ row.id }}" type="hidden">
                                        <button type="submit" class="material-icons del md-36">delete</button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                </section>

                <!-- Not Started -->
                <section class="filter-sale">
                    <div>
                        <h2>Not started</h2>
                        <hr>
                    </div>

                    <!-- Cards plans -->
                    <section class="container-sale-plan-cards">
                        {% for row in not_started %}
                        <div class="sale-plan-cards">
                            <h3>{{ row.name }}</h3>
                            <div class="data-sale-plan">
                                <p class="price">Price: {{ row.price }}</p>
                                <p class="stock">Stock: {{ row.stock }}</p>
                                <p class="goal">{{ row.goal_options }}: {{ row.goal }}</p>
                                {% if row.date_start or row.date_end %}
                                    <p class="d-start">Start: {{ row.date_start }}</p>
                                    <p class="d-end">End: {{ row.date_end }}</p>
                                {% else %}
                                    <p class="no-d">No start or end dates for sales</p>
                                {% endif %}
                                {% if row.notes %}
                                    <p class="note">Note: {{ row.notes }}</p>
                                {% else %}
                                    <p class="note no-note">No notes</p>
                                {% endif %}

                                <!-- Delete sale plan -->
                                <form class="del-sale-plan" action="/delete" method="post">
                                    <input name="id-del" value="{{ row.id }}" type="hidden">
                                    <button type="submit" class="material-icons del md-36">delete</button>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                    </section>
                </section>

                <!-- Sold -->
                <section class="filter-sale">
                    <div>
                        <h2>Sold</h2>
                        <hr>
                    </div>
                    
                    <!-- Cards plans -->
                    <section class="container-sale-plan-cards">
                        {% for row in sold %}
                            <div class="sale-plan-cards">
                                <h3>{{ row.name }}</h3>
                                <div class="data-sale-plan">
                                    <p class="price">Price: {{ row.price }}</p>
                                    <p class="stock">Stock: {{ row.stock }}</p>
                                    <p class="goal">{{ row.goal_options }}: {{ row.goal }}</p>
                                    {% if row.date_start or row.date_end %}
                                        <p class="d-start">Start: {{ row.date_start }}</p>
                                        <p class="d-end">End: {{ row.date_end }}</p>
                                    {% else %}
                                        <p class="no-d">No start or end dates for sales</p>
                                    {% endif %}
                                    {% if row.notes %}
                                        <p class="note">Note: {{ row.notes }}</p>
                                    {% else %}
                                        <p class="note">No notes</p>
                                    {% endif %}

                                    <!-- Delete sale plan -->
                                    <form class="del-sale-plan" action="/delete" method="post">
                                        <input name="id-del" value="{{ row.id }}" type="hidden">
                                        <button type="submit" class="material-icons del md-36">delete</button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                </section>
            {% else %}

                <!-- No sales plan -->
                <section class="filter-sale">
                    <h3>You haven't planned any sales yet :(</h3>
                    <hr>
                </section>

            {% endif %}
        </div>
    {% endif %}

{% endblock %}