{% extends "layout.html" %}

{% block title %}
    On The Sales
{% endblock %}

{% block main %}

    {% if not session["user_id"] %}

        <!-- Index without sale plan -->
        <div class="container-index">
                <section class="introduction-logo">
                    <img src="/static/imgs/logo.svg" alt="Logo Planning Sale">
                    <div class="texts-introduction">
                        <h2>Meet your <span>sales planner</span>!</h2>
                        <p>Organizes and manages the sales you want to make for you!</p>
                    </div>
                </section>
            
                <section class="introduction-buttons">
                    <h3>Don't have a sale yet? Plan one now!</h3>
                    <div class="buttons">
                        <form action="/login">
                            <button class="btn" type="submit">+ New Planning</button>
                        </form>
                        <div class="btn opacity"></div>
                        <div class="btn opacity"></div>
                        <div class="btn opacity"></div>
                    </div>

                <!-- Footer -->
                <div class="footer">
                    <p>CS50’s Introduction to Computer Science Final Project.</p>
                    <p>
                        Developed by <a href="#">Raiane Oliveira</a>. 
                    </p>
                </div>        
            </section>
        </div>
    {% else %}

        <!-- Index wth sale plan card -->
        <div class="container-planSale">
            {% if salePlan %}
                    <section class="filter-sale">
                        <div>
                            <h2>Selling</h2>
                            <hr>
                        </div>
                
                        <!-- Cards plans -->
                        <section class="container-sale-plan-cards">
                        {% for data in card %}
                        
                            <!-- Form edit sale plan -->
                            <div class="on-sale">
                                <span class="material-icons md-36">close</span>
                            
                                <section class="plansale-card">
                                    <form action="/edit" method="post">
                                        <div class="user-inputs name">
                                            <label for="name">Product name <span class="required">*</span></label>
                                            <input autofocus autocomplete="off" name="name" id="name" required type="text" value="{{ data.name }}">
                                        </div>
                    
                                        <div class="user-inputs price">
                                            <label for="price">Price product <span class="required">*</span></label>
                                            <input autocomplete="off" name="price" id="price" placeholder="$" required type="text" value="{{ data.price }}">
                                        </div>
                    
                                        <div class="user-inputs goal">
                                            <label for="goal">
                                                Set goal: <span class="required">*</span>
                                                <select class="select-goal" name="goal" id="goal" required>
                                                    <option value="Money goal">Money goal</option>
                                                    <option value="Sales goal">Sales goal</option>
                                                </select>
                                            </label>
                                            <input autocomplete="off" name="goal-option" type="text" value="{{ data.goal }}">
                                        </div>
                    
                                        <div class="user-inputs date1">
                                            <label for="date-start">Starting date</label>
                                            <input autocomplete="off" name="date-start" id="date-start" type="date" value="{{ data.start_date }}">
                                        </div>
                    
                                        <div class="user-inputs date2">
                                            <label for="date-end">Ending date</label>
                                            <input autocomplete="off" name="date-end" id="date-end" type="date" value="{{ data.end_date }}">
                                        </div>
                    
                                        <div class="user-inputs stock">
                                            <label for="stock">Amount stock <span class="required">*</span></label>
                                            <input autocomplete="off" name="stock" id="stock" required type="number" min="1" value="{{ data.stock }}">
                                        </div>
                    
                                        <input type="hidden" name="id" value="{{ data.id }}">
                                        <input class="btn-login-register" type="submit" value="Continue">
                                    </form>
                                </section>
                            </div>    
                        {% endfor %}

                        {% for row in selling %}
                            <!-- Card sale plan --> 
                            <div class="sale-plan-cards">
                                <h3>{{ row.name }}</h3>
                                <div class="data-sale-plan">
                                    <p class="price">Price: {{ row.price }}</p>
                                    <p class="goal">Goal: {{ row.goal }}</p>
                                    <p class="stock">Stock: {{ row.stock }}</p>
                                    <p class="d-start">Start: {{ row.date_start }}</p>
                                    <p class="d-end">End: {{ row.date_end }}</p>
                                    <div class="edit-sale-plan">

                                        <!-- Edit sale plan -->
                                        <form class="form-edit click-btn" method="post">
                                            <button class="btn-sale-plan-edit">Edit</button>
                                            <input name="id-edit" value="{{ row.id }}" type="hidden">
                                        </form>

                                        <!-- Delete sale plan -->
                                        <form action="/delete" method="post">
                                            <input name="id-del" value="{{ row.id }}" type="hidden">
                                            <button type="submit" class="material-icons del md-36">delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </section>
                    </section>

                    <section class="filter-sale">
                        <div>
                            <h2>Not started</h2>
                            <hr>
                        </div>

                        <!-- Cards plans -->
                        <section class="container-sale-plan-cards">
                            {% for data in card %}
                            
                                <!-- Form edit sale plan -->
                                <div class="on-sale">
                                    <span class="material-icons md-36">close</span>
                                    
                                    <section class="plansale-card">
                                        <form action="/edit" method="post">
                                            <div class="user-inputs name">
                                                <label for="name">Product name <span class="required">*</span></label>
                                                <input autofocus autocomplete="off" name="name" id="name" required type="text" value="{{ data.name }}">
                                            </div>
                        
                                            <div class="user-inputs price">
                                                <label for="price">Price product <span class="required">*</span></label>
                                                <input autocomplete="off" name="price" id="price" placeholder="$" required type="text" value="{{ data.price }}">
                                            </div>
                        
                                            <div class="user-inputs goal">
                                                <label for="goal">
                                                    Set goal: <span class="required">*</span>
                                                    <select class="select-goal" name="goal" id="goal" required>
                                                        <option value="Money goal">Money goal</option>
                                                        <option value="Sales goal">Sales goal</option>
                                                    </select>
                                                </label>
                                                <input autocomplete="off" name="goal-option" type="text" value="{{ data.goal }}">
                                            </div>
                        
                                            <div class="user-inputs date1">
                                                <label for="date-start">Starting date</label>
                                                <input autocomplete="off" name="date-start" id="date-start" type="date" value="{{ data.start_date }}">
                                            </div>
                        
                                            <div class="user-inputs date2">
                                                <label for="date-end">Ending date</label>
                                                <input autocomplete="off" name="date-end" id="date-end" type="date" value="{{ data.end_date }}">
                                            </div>
                        
                                            <div class="user-inputs stock">
                                                <label for="stock">Amount stock <span class="required">*</span></label>
                                                <input autocomplete="off" name="stock" id="stock" required type="number" min="1" value="{{ data.stock }}">
                                            </div>
                        
                                            <input type="hidden" name="id" value="{{ data.id }}">
                                            <input class="btn-login-register" type="submit" value="Continue">
                                        </form>
                                    </section>
                                </div>    
                            {% endfor %}

                            {% for row in not_started %}

                                <!-- Card sale plan --> 
                                <div class="sale-plan-cards">
                                    <h3>{{ row.name }}</h3>
                                    <div class="data-sale-plan">
                                        <p class="price">Price: {{ row.price }}</p>
                                        <p class="goal">Goal: {{ row.goal }}</p>
                                        <p class="stock">Stock: {{ row.stock }}</p>
                                        <p class="d-start">Start: {{ row.date_start }}</p>
                                        <p class="d-end">End: {{ row.date_end }}</p>
                                        <div class="edit-sale-plan">

                                            <!-- Edit sale plan -->
                                            <form class="form-edit click-btn" method="post">
                                                <button class="btn-sale-plan-edit">Edit</button>
                                                <input name="id-edit" value="{{ row.id }}" type="hidden">
                                            </form>

                                            <!-- Delete sale plan -->
                                            <form action="/delete" method="post">
                                                <input name="id-del" value="{{ row.id }}" type="hidden">
                                                <button type="submit" class="material-icons del md-36">delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </section>
                    </section>

                    <section class="filter-sale">
                        <div>
                            <h2>Sold</h2>
                            <hr>
                        </div>
                        
                        <!-- Cards plans -->
                        <section class="container-sale-plan-cards">
                            {% for data in card %}
                            
                                <!-- Form edit sale plan -->
                                <div class="on-sale">
                                    <span class="material-icons md-36">close</span>
                                    
                                    <section class="plansale-card">
                                        <form action="/edit" method="post">
                                            <div class="user-inputs name">
                                                <label for="name">Product name <span class="required">*</span></label>
                                                <input autofocus autocomplete="off" name="name" id="name" required type="text" value="{{ data.name }}">
                                            </div>
                        
                                            <div class="user-inputs price">
                                                <label for="price">Price product <span class="required">*</span></label>
                                                <input autocomplete="off" name="price" id="price" placeholder="$" required type="text" value="{{ data.price }}">
                                            </div>
                        
                                            <div class="user-inputs goal">
                                                <label for="goal">
                                                    Set goal: <span class="required">*</span>
                                                    <select class="select-goal" name="goal" id="goal" required>
                                                        <option value="Money goal">Money goal</option>
                                                        <option value="Sales goal">Sales goal</option>
                                                    </select>
                                                </label>
                                                <input autocomplete="off" name="goal-option" type="text" value="{{ data.goal }}">
                                            </div>
                        
                                            <div class="user-inputs date1">
                                                <label for="date-start">Starting date</label>
                                                <input autocomplete="off" name="date-start" id="date-start" type="date" value="{{ data.start_date }}">
                                            </div>
                        
                                            <div class="user-inputs date2">
                                                <label for="date-end">Ending date</label>
                                                <input autocomplete="off" name="date-end" id="date-end" type="date" value="{{ data.end_date }}">
                                            </div>
                        
                                            <div class="user-inputs stock">
                                                <label for="stock">Amount stock <span class="required">*</span></label>
                                                <input autocomplete="off" name="stock" id="stock" required type="number" min="1" value="{{ data.stock }}">
                                            </div>
                        
                                            <input type="hidden" name="id" value="{{ data.id }}">
                                            <input class="btn-login-register" type="submit" value="Continue">
                                        </form>
                                    </section>
                                </div>    
                            {% endfor %}

                            {% for row in sold %}

                                <!-- Card sale plan --> 
                                <div class="sale-plan-cards">
                                    <h3>{{ row.name }}</h3>
                                    <div class="data-sale-plan">
                                        <p class="price">Price: {{ row.price }}</p>
                                        <p class="goal">Goal: {{ row.goal }}</p>
                                        <p class="stock">Stock: {{ row.stock }}</p>
                                        <p class="d-start">Start: {{ row.date_start }}</p>
                                        <p class="d-end">End: {{ row.date_end }}</p>
                                        <div class="edit-sale-plan">

                                            <!-- Edit sale plan -->
                                            <form class="form-edit click-btn" method="post">
                                                <button class="btn-sale-plan-edit">Edit</button>
                                                <input name="id-edit" value="{{ row.id }}" type="hidden">
                                            </form>

                                            <!-- Delete sale plan -->
                                            <form action="/delete" method="post">
                                                <input name="id-del" value="{{ row.id }}" type="hidden">
                                                <button type="submit" class="material-icons del md-36">delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </section>
                    </section>
            {% else %}

                <section class="filter-sale">
                    <h3>You haven't planned any sales yet :(</h3>
                    <hr>
                </section>

            {% endif %}
        </div>
    {% endif %}

{% endblock %}