{% extends "layout.html" %}

{% block title %}
    On The Sales | Plan A Sale
{% endblock %}

{% block main %}

    <div class="container-planSale">

        <!-- Form card -->
        <div class="on-sale">
            <span class="material-icons md-36">close</span>

            <section class="plansale-card">
                <form action="/plansale" method="post" class="form-planSale">
                    <div class="user-inputs name">
                        <label for="name">Product name <span class="required">*</span></label>
                        <input autofocus autocomplete="off" name="name" id="name" required type="text">
                    </div>

                    <div class="user-inputs price">
                        <label for="price">Price product <span class="required">*</span></label>
                        <input autocomplete="off" name="price" id="price" placeholder="$" required type="text">
                    </div>

                    <div class="user-inputs goal">
                        <label for="goal">
                            Set goal: <span class="required">*</span>
                            <select class="select-goal" name="goal" id="goal" required>
                                <option value="Money goal">Money goal</option>
                                <option value="Sales goal">Sales goal</option>
                            </select>
                        </label>
                        <input autocomplete="off" name="goal-option" type="text">
                    </div>

                    <div class="user-inputs date1">
                        <label for="date-start">Starting date</label>
                        <input autocomplete="off" name="date-start" id="date-start" type="date">
                    </div>

                    <div class="user-inputs date2">
                        <label for="date-end">Ending date</label>
                        <input autocomplete="off" name="date-end" id="date-end" type="date">
                    </div>

                    <div class="user-inputs stock">
                        <label for="stock">Amount stock <span class="required">*</span></label>
                        <input autocomplete="off" name="stock" id="stock" required type="number" min="1">
                    </div>

                    <input type="hidden" name="id" id="id">
                    <input class="btn-login-register" type="submit" value="Continue">
                </form>
            </section> 
        </div>   

        <section class="filter-sale">
            <div>
                <h2>Selling</h2>
                <hr>
            </div>
            
            <form action="/" method="post" class="click-btn">
                <input type="hidden" name="id-filter" value="selling">
                <button id="selling" class="btn">+ New Planning</button>
            </form>
        </section>

        <section class="filter-sale">
            <div>
                <h2>Not started</h2>
                <hr>
            </div>
            
            <form action="/" method="post" class="click-btn">
                <input type="hidden" name="id-filter" value="not-started">
                <button id="not-started" class="btn">+ New Planning</button>
            </form>
        </section>

        <section class="filter-sale">
            <div class="title-filter">
                <h2>Sold</h2>
                <hr>
            </div>
            
            <form action="/" method="post" class="click-btn">
                <input type="hidden" name="id-filter" value="sold">
                <button id="sold" class="btn">+ New Planning</button>
            </form>
        </section>
    </div>

{% endblock %}