{% extends "layout.html" %}

{% block title %}
    Planning Sale | Sign Up
{% endblock %}

{% block main %}

    <div class="container-login-register">
        <section class="login-register-card">
            <h2 class="title-login-register">Register</h2>

            <form action="/register" method="post">
                <div class="user-inputs">
                    <label for="username">Username</label>
                    <input autocomplete="off" autofocus id="username" name="username" required type="text">
                </div>

                <div class="user-inputs">
                    <label for="password">Password</label>
                    <input autocomplete="off" id="password" name="password" required type="password">
                </div>

                <div class="user-inputs">
                    <label for="confirm-password">Confirm Password</label>
                    <input autocomplete="off" id="confirm-password" name="confirm-password" required type="password">
                </div>

                <input class="btn-login-register" type="submit" value="Continue">
            </form>
        </section>
    </div>

{% endblock %}